body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

.container {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

input {
  padding: 10px;
  margin: 5px;
  width: 80px;
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background: #51d726;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background: #5fc75b;
}

#timer {
  font-size: 2em;
  margin-top: 20px;
  color: #233da4;
}
